:host {
  display: grid;
  height: 100vh;
  grid-template-rows: 3.5rem 1fr 3.5rem;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
#header {
  background-color: var(--primary-color);
  grid-area: header;
}

#footer {
  background-color: var(--primary-color);
  grid-area: footer;
}

#maim-content {
  grid-area: main;
  overflow-y: auto;
}
