<section class="dashboard-container">
  <article class="intro">
    <h2 class="intro-title">Welcome to Dentist care dashboard</h2>
    <p class="intro-text">
      This is the page that will help you manage your dentist appointments and
      check your history. Remember the health of your teeth is what we can
      about.
    </p>
  </article>

  <section class="info-boxes-container">
    <div class="info-box" (click)="gotoPage('active')">
      <p class="info-box-text">Check active appointment</p>
    </div>
    <div class="info-box" (click)="gotoPage('create')">
      <p class="info-box-text">Create appointment</p>
    </div>
    <div class="info-box" (click)="gotoPage('history')">
      <p class="info-box-text">Check History</p>
    </div>
  </section>
</section>
